@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply w-full h-full;
}

body {
  @apply flex flex-col;
}

@layer components {
  .dots {
    background-image: radial-gradient(currentcolor 2px, transparent 2px);
    background-size: 2rem 2rem;
    mask-image: linear-gradient(to bottom, #fff2, #0000);
  }
}
